<article class="patient-dashboard visit">
    <div class="pgContainer">
        <article>
            <div class="dashboard-section-wrapper">
                <div class="dashboard-sections">
                    <section ng-repeat="section in sections | filter:filterOdd(0)"
                             class="dashboard-section">
                        {{section}}
                        {{section.viewName}}
                        <ng-include src="section.viewName"></ng-include>
                    </section>
                </div>

                <div class="dashboard-sections">
                    <section ng-repeat="section in sections | filter:filterEven(0)"
                             class="dashboard-section">
                        {{section}}
                        {{section.viewName}}
                        <ng-include src="section.viewName"></ng-include>
                    </section>
                </div>
            </div>
        </article>
    </div>
</article>